:root {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $base__color--primary;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;

  font-size: 16px;

  @media (min-width: 1000px) {
    font-size: 18px;
  }

  @media (min-width: 1400px) {
    font-size: 20px;
  }
}
